<main>
    <h1 class="text-center">Hello world</h1>
    <h2> Hello world</h2>
    <br>
    <hr>
    <div class="display-1">Hello world</div>
    <div class="display-2">Hello world</div>
    <hr>
    <span class="text-muted">Additionla text</span>
    <hr>
    <button class="btn btn-primary">test button</button>
    <hr>
    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>
</main>