<main>
    <h1 class="text-center">Hello world</h1>
    <h2> Hello world</h2>
    <br>
    <hr>
    <div class="display-1">Hello world</div>
    <div class="display-2">Hello world</div>
    <hr>
    <span class="text-muted">Additionla text</span>
    <hr>
    <button class="btn btn-primary">test button</button>
    <hr>
    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>

<div class="row g-4">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="nav flex-column">
                    <div class="nav-item">
                        <div class="card">
                            <a href="#" class="nav-link">Home page</a>
                        </div>
                        <br>
                        <div class="nav-item">
                        <div class="card">
                            <a href="#" class="nav-link disabled">Bootstrap</a>
                        </div>
                        <br>
                        <div class="nav-item">
                        <div class="card">
                            <a href="#" class="nav-link">FQA page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   

<i class="bi bi-emoji-smile"></i>
<br>
<button class="btn btn-primary">
    <i class="bi bi-emoji-smile"></i>
</button>
</main>