<div>
     {{#with main}}
<main>
    <section>
        {{>title data="My education" big = true}}
        <ul>
            {{#each education}}
            <li>
                {{name}}
                {{#unless isEnd}} (ще вивчаю) {{/unless}}
                </li>
            {{/each}}
        </ul>
    </section>

    <section>
        {{> title data="My certificates"}}
        <ul>
            {{#each certificates}}
            <li>
                {{name}} 
               {{#unless isEnd}} (ще вивчаю) {{/unless}}
                ({{id }})
            </li>
            {{/each}}
        </ul>
    </section>
</main>
{{/with}}
</div>